button.active {
    background-color: orange;
}

tr:nth-child(even) {
    background-color: #479e9e;
}
th {
    background-color: #1b8f8f;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0px 5px 0px 5px;
}
table {
    margin: auto;
    align-items: center;
}
@media (min-width: 992px) {
    th, td {
      height: 80px;
      align-items: center;
      margin: auto;
    }
} 

.spinner-overlay {
    position: absolute;

    background: rgba(255, 255, 255, 0.8);
    z-index: 10;
}

.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    gap: 10px;
  }
  
  .page-btn {
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #673ab7;
    background-color: white;
    color: #673ab7;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .page-btn:hover {
    background-color: #673ab7;
    color: white;
    transform: scale(1.1);
  }
  
  .page-btn.active {
    background-color: #673ab7;
    color: white;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: default;
  }
  
  .page-btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
  }